<html>
<!-- Adapted from https://github.com/osu-cs340-ecampus/flask-starter-app -->
<head>
	<title>Customers</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Customers</h1> [ <a href="home">Home</a> | <a href="products">Products</a> | <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="orders">Orders</a> ]
		<div id="browse">

			<table border="1" cellpadding="5">
				<!-- Access data tuple passed from app.py --> 
				{% if data %}
					<thead>
						<tr>
							<!-- Iterate through each key in the first entry to get the column name -->
							{% for key in data[0].keys() %}
							
							<!-- Create a <th> tag with the key inside of it, this will be our header row -->
							<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
						
							<!-- End of this for loop -->
							{% endfor %} 
						</tr>

					<tbody>
						<!-- Now, iterate through every item in data -->{% for item in data %}
							<tr>
								<!-- Then iterate through every key in the current item dictionary -->
								{% for key in item.keys() %}

								<!-- Create a <td> element with the value of that key in it -->
								<td> {{item[key]}} </td> 
								{% endfor %}

								<!-- Create our edit/delete buttons -->
								<td><a href="edit_customers/{{item.customerID}}" class="btn btn-default">Edit</a></td>
								<td><a href="delete_customer/{{item.customerID}}" class="btn btn-default">Delete</a></td>

							</tr> 
							{% endfor %} 
					{% endif %} 
			</table>   
	<p>&nbsp;</p>
    </div> <!-- browse --> 

	<div id="insert">
		<!-- form to INSERT new data into Customers-->
		<form id="insertCustomer" action="/customers" method="post">
			<legend><strong>Add Customer</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">Customer Name:</label>
				<input type="text" class="form-control" id="customerName" name="customerName" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="model">Date of Birth:</label>
				<input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="">

                <label for="year">Favorite Product:</label>
				<input type="text" class="form-control" id="favoriteProduct" name="favoriteProduct" pattern="[0-9]{1,}" placeholder="">

			<!-- Create 'Add Customer' button -->
			<input type="submit" value="Add Customer" name="Add_Customer" class="btn btn-primary" style="margin:.5rem;">
			</fieldset>
        </form>
	</div><!--insert-->

</body>
</html>