<!---- Citation for the following tables: 
------ Date: 05/12/2022
------ Based on the following coursework:
------ Source URL: https://canvas.oregonstate.edu/courses/1870053/pages/exploration-web-application-technology?module_item_id=22036033 -----> 
<html>
<head>
<title>Products</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Products</h1>

[ <a href="index.html">Home</a> | <a href="products.html">Products</a> | <a href="employees.html">Employees</a> | <a href="customers.html">Customers</a> 
| <a href="orders.html">Orders</a> ]
<div id="browse" style="display: block">
<p><strong>Browse Products</strong></p>
<table border="1" cellpadding="5">
  <tr>
    <th>productID</th>
    <th>productName</th>
    <th>productDescription</th>
    <th>productPrice</th>
    <th>seasonSold</th>
    <th></th>
    <th><a href="#">New</a></th>
  </tr>
  <tr>
    <td align="left" >1</td>
    <td >Grass Starter</td>
    <td align="left" >Place this on your farm to start a new patch of grass.</td>
    <td>100</td>
    <td>Year-round</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="left" >2</td>
    <td>Parsnip Seeds</td>
    <td align="left" >Plant these in the spring. Takes 4 days to mature.</td>
    <td >20</td>
    <td>Spring</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="left" >3</td>
    <td>Melon Seeds</td>
    <td align="left" >Plant these in the summer. Takes 12 days to mature.</td>
    <td>80</td>
    <td>Summer</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="left" >4</td>
    <td>Pumpkin Seeds</td>
    <td align="left" >Plant these in the fall. Takes 13 days to mature.</td>
    <td>100</td>
    <td>Fall</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="search" style="display: block">
  <form id="searchProduct">
    <legend><strong>Search for Products based on Season</strong></legend>
      <fieldset class="fields">
        <select id="seasonSold" name="seasonSold">
          <option value="Year-Round">Year-Round</option>
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
          <option value="Winter">Winter</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="searchProduct" value="Search">
  </form>
</div><!-- search -->

<div id="insert" style="display: block">
    <form id="addProduct">
        <legend><strong>Add Product</strong></legend>
          <fieldset class="fields">
            <label> productName </label> <input type="text" name="name">
            <label> productDescription</label> <input type="text" name="name">
            <label> productPrice </label> <input type="text" name="name">
            <label> seasonSold </label> 
            <select id="seasonSold" name="seasonSold">
              <option value="Year-Round">Year-Round</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="Winter">Winter</option>
            </select>
          </fieldset>
          <input class="btn" type="submit" id="addProduct" value="Add Product">
          <input class="btn" type="button" value="Cancel">
	</form> <!--add new product-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateProduct">
      <legend><strong>Update Product</strong></legend>
          <fieldset class="fields">
            <label> productID:</label> <input type="number" min="1" max="4" value="1">
            <label> productName </label> <input type="text" value="Grass Starter" name="name">
            <label> productDescription </label> <input type="text"  name="descriprtion" value="Place this on your farm to start a new patch of grass">
            <label> productPrice </label> <input type="text" name="price" value="100">
            <label> seasonSold </label>
            <select id="seasonSold" name="seasonSold">
              <option value="Year-Round">Year-Round</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="Winter">Winter</option>
            </select>
    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveProduct" value="Update Product">
          <input class="btn" type="button" value="Cancel" >
  </form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form id="deleteProduct">
      <legend><strong>Delete Product</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following product?</p>
          <label> productID:</label> <input type="number" min="1" max="4" value="1">
          <label> productName </label> <input type="text" value="Grass Starter" name="name">
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteProduct" value="Delete Product">
          <input class="btn" type="button" value="Cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>
