/*Citation for style.css:
Date: 05/18/2022
Copied from: OSU cs340_starter_app
Source URL: https://github.com/mlapresta/cs340_starter_app and https://github.com/osu-cs340-ecampus/flask-starter-app
*/ 

.topnav {
  background-color: #292b2e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #05284d;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #28436b;
  color: white;
}

body{
  background-color: #ffffff;
}
table, th, td {
  border: 1px solid black;
  text-align: left;
}
